body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #00ff88;
}

img {
    border: 3px solid #00ff88;
    border-radius: 10px;
    max-width: 90%;
}

.btn {
    display: inline-block;
    background-color: #00ff88;
    color: black;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
    box-shadow: 0 0 20px #00ff88;
}
